.logoHeader{
  height: 200px;

}
.navigace{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  margin-top: 15px;
  width: 280px;
  
}
