.activity-item {
  display: flex;
}
.activity-add {
  display: flex;
}

h2 {
  background-color: white;
}

.img-Form {
  width: 250px;
  border: solid 1px silver;
  margin-bottom: 10px;
  border-radius: 10px;
}
