.foto-zvirete{
  height: 100px;
  width: 100px;
  border:  1.5px solid #737373;
  font-size: 80px;
  color: #737373;
  text-align: center;
  
}
.activity-item{
  display: flex;

}
.activity-add{
  display:flex;
}
form{
  background-color: white;
}