.foto-zvirete{
  /* height: 100px;
  width: 100px;
  border:  1.5px solid #737373;
  font-size: 80px;
  color: #737373;
  text-align: center; */
  display:flex;
  
}

.img-form{
  height: 150px;
  width: 150px;
  border:  1.5px solid #737373;
  margin: 15px;

}
.activity-item{
  display: flex;

}
.activity-add{
  display:flex;
}
form{
  background-color: white;
}
h2{
  background-color: white;
}
/* .img-upload{
  display:flex;
  flex-direction: column;
} */