/* #00C2CB – zelená
#737373 – šedá
#FAFAE7 – žlutá
#EAFFF6 – světle zelená
#E72B8E - růžová */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafae7;
  min-width: 280px;
}
