@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}





.HPContainer{
  max-width: 950px;
  margin: 50 100px;
  background-color: red ;
}